# Main dependencies
mozci==0.25.4
MozillaPulse==1.2.2

# Required by MozillaPulse
amqp==1.4.9
anyjson==0.3.3
kombu==3.0.33
pytz==2015.7

# Required by mozci
buildapi-client==0.3.0
ijson==2.2
keyring==7.3
progressbar==2.3
pushlog-client==0.4.0
requests==2.9.1
taskcluster==0.0.32
treeherder-client==2.0.1

# Required by taskcluster
PyHawk-with-a-single-extra-commit==0.1.5
requests-hawk==1.0.0
six==1.10.0
slugid==1.0.6

# Required by treeherder-client
mohawk==0.3.1
