# Main dependencies
mozci==0.46.0
pulse_replay==0.2.2
treeherder_submitter==0.4.1
taskcluster_s3_uploader==0.3.1

# Required by mozci
buildapi-client==0.3.0
ijson==2.2
keyring==6.0
progressbar==2.3
pushlog-client==0.5.0
PyYAML==3.11
redo==1.5
requests==2.10.0
taskcluster==0.3.4
treeherder-client==3.1.0

# Required by pulse_replay
MozillaPulse==1.2.2
amqp==1.4.9
anyjson==0.3.3
kombu==3.0.33
pytz==2015.7

# Required by taskcluster
mohawk==0.3.2.1
requests==2.10.0
six==1.10.0
slugid==1.0.7

# Required by treeherder_submitter and subdependencies
mozinfo==0.9
mozfile==1.2
# treeherder-client
requests-hawk==1.0.0

# Required by taskcluster_s3_uploader
boto3==1.3.1
botocore==1.4.31
docutils==0.12
futures==3.0.5
jmespath==0.9.0
python-dateutil==2.5.3
six==1.10.0
